html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow:  hidden;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  border-radius: 20px;
  text-align: center;
}

.bottom {
  position: fixed;
  bottom: 50px;
}

.bar {
  display: grid;
  width: 100vw;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto auto 10px;
}

.player {
  --color: green;
  --select: 0;
   display: inline-grid;
   border: solid var(--color);
   width: 10vw;
   height: 10vw;
   background: transparent;
   transition: background 0.1s;
   text-align: center;
   color: #FFF;
   font-size: 0.9vw;
}

.player:hover{
   background-color: var(--color);
   --select: 1;
}
